subnet {{ subnet.ip }} netmask {{ subnet.netmask }} {
{% if subnet.default_lease_time is defined %}
  default-lease-time {{ subnet.default_lease_time }};
{% endif %}
{% if subnet.max_lease_time is defined %}
  max-lease-time {{ subnet.max_lease_time }};
{% endif %}
{% if subnet.routers is defined %}
  option routers {{ subnet.routers }};
{% endif %}
{% if subnet.subnet_mask is defined %}
  option subnet-mask {{ subnet.subnet_mask }};
{% endif %}
{% if subnet.domain_search is defined %}
  option domain-search {{ subnet.domain_search }};
{% endif %}
{% if subnet.domain_name_servers is defined %}
{% if subnet.domain_name_servers is string %}
  option domain-name-servers {{ subnet.domain_name_servers }};
{% else %}
  option domain-name-servers {{ subnet.domain_name_servers|join(', ') }};
{% endif %}
{% endif %}
{% if subnet.range_begin is defined and subnet.range_end is defined %}
  range {{ subnet.range_begin }} {{ subnet.range_end }};
{% endif %}
{% if subnet.server_name is defined %}
  server-name {{ subnet.server_name }};
{% endif %}
{% if subnet.next_server is defined %}
  next-server {{ subnet.next_server }};
{% endif %}
{% if subnet.filename is defined %}
  filename "{{ subnet.filename }}";
{% endif %}
{% if subnet.bootp is defined %}
{{ subnet.bootp }} bootp;
{% endif %}
{% if subnet.booting is defined %}
{{ subnet.booting }} booting;
{% endif %}
{% if subnet.pools is defined %}

  # Address pool(s)
  
{% for pool in subnet.pools %}
  pool {
{% if pool.domain_name_servers is defined %}
{% if pool.domain_name_servers is string %}
    option domain-name-servers {{ pool.domain_name_servers }};
{% else %}
    option domain-name-servers {{ pool.domain_name_servers|join(', ') }};
{% endif %}
{% endif %}
{% if pool.default_lease_time is defined %}
    default-lease-time {{ pool.default_lease_time }};
{% endif %}
{% if pool.min_lease_time is defined %}
    min-lease-time {{ pool.min_lease_time }};
{% endif %}
{% if pool.max_lease_time is defined %}
    max-lease-time {{ pool.max_lease_time }};
{% endif %}
{% if pool.range_begin is defined and pool.range_end is defined %}
    range {{ pool.range_begin }} {{ pool.range_end }};
{% endif %}
{% if pool.allow is defined %}
    allow {{ pool.allow }};
{% endif %}
{% if pool.deny is defined %}
    deny {{ pool.deny }};
{% endif %}
  }
{% endfor %}
{% endif %}
}

# Hosts declarations

{% if subnet.dhcp_hosts is defined %}
{% for host in subnet.dhcp_hosts %}
host {{ host.name }} {
  hardware ethernet {{ host.mac }};
  fixed-address {{ subnet.ip.split('.')[0:3] | join('.') }}.{{ '%d'|format(host.name[-2:] | int) }};
}
{% endfor %}
{% endif %}
